/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/08/2017, 23:00:26
    Author     : marcel



*/


.bannerweb{
    width: auto;
   height: 300px;
   margin: 0px;
   
   
}
.bannerwebcelular{
    display: none;
}


.rodape{
    
    background-color: #353535;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#FFFFFF;
    margin-top: 40px;
    
}

.address{
    float: left;
    width: 600px;
    height: auto;
    font-size: 18px;
}
.mapa{
    
    width: auto;
    height: 400px;
    
   }
   .mapamobile{
       display:none;
   }
     .mapamobile2{
       display:none;
   }
     .mapamobile3{
       display:none;
   }
   
  
   .containerbutton{
       width: auto;
       float: left;
       margin-top: 0px;
       padding-top: 0px;
       
       font-size: 28px;
       padding-bottom: 1px;
       margin-right: 20px;
   }


/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-width:320px) and (max-width:520px) {

  


.bannerweb{
    display: none;
}
.bannerwebcelular{
    display: block;
    width: auto;
    height: auto;
}
.rodape{
    
    background-color: #353535;
    height: auto;
    text-align: center;
    color:#FFFFFF;
    
    }
    
    .address{
        
     float: left;
    width: auto;
    height: auto;
        font-size: 12px;
    }
    .mapa{
        display: none;
         
    
    
    }
    .mapamobile{
        display: block;
          width: auto;
         margin: 5px 5px 5px 5px;
       
    }
    .mapamobile2{
        display: none;
    }
    
    
}



@media only screen and (min-width:525px) and (max-width:700px) {

  


.bannerweb{
    display: none;
}
.bannerwebcelular{
    display: block;
    width: auto;
    height: auto;
}
.rodape{
    
    background-color: #353535;
    height: auto;
    text-align: center;
    color:#FFFFFF;
    
    }
    
    .address{
        
     float: left;
    width: auto;
    height: auto;
        font-size: 12px;
    }
    .mapa{
        display: none;
         
    
    
    }
     .mapamobile{
        display: none;
         
    }
    .mapamobile2{
        display: block;
         width: auto;
         margin: 10px 10px 10px 10px;
    }
    @media only screen and(min-width:701) and(max-width:846){
     
        
            .mapa{
        display: none;
         
    }
      .mapamobile{
       display:none;
   }
            .mapamobile2{
        display: none;
         
    }
        .mapamobile3{
        display: block;
         width: auto;
         height: 350px;
         padding-top: 10px;
         margin: 10px 10px 10px 10px;
    }
    }
    
   
}



